body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(images/sky.jpg);
    background-color: #cccccc;
    background-repeat: no-repeat, repeat;
    background-size: cover;
   }

.main-search-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-search-box .welcome-title {
    margin: 50px;
    font-size: 40px;
}

.main-search-box h4 {
    margin: 40px
}

.result-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-title {
    margin: 30px
}

.result-output {
    margin: 20px
}



