{% extends 'base.html' %}

{% block body %}
<div class="main-search-box">
    <h3 class="welcome-title">{{ the_title }}</h3>
    <div class="input-box">
        <h4>Enter a day of week:</h4>

        <form method="POST" action="/search" class="form-inline my-2 my-lg-0">
          <input name="weekday" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button value="Search" class="btn my-2 my-sm-0 btn-dark" type="submit">Search</button>
        </form>
    </div>
</div>




{% endblock %}
