{% extends 'base.html' %}

{% block body %}
<div class="result-box">
    <h3 class="result-title">The weather on {{weekday.capitalize()}}:</h3>
    <div class="result-output">
        <h4>{{result[0]}}</h4>
        <h3>{{result[1]}}</h3>
        <h5>{{result[2]}}</h5>

    </div>
</div>



{% endblock %}